html, body {
    height:100%;
    /* overflow: hidden; */
}

body {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullBody {
    width: 100vw;
    /* height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: row;
}


.sidebarWrapper{
    flex:1;
    /* max-width: 20rem; */
}

.mainClass{
    flex:4
}