

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullBody {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}


.sidebarWrapper{
    display: flex;
}

.mainClass{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.children{
    flex:1;
    height:100%
}
@media (max-width: 800px) {
    .mainClass{
        flex-direction: column;
    }

}