html, body {
    height:100%;
    /* overflow: hidden; */
}

body {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullBody {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}


.sidebarWrapper{
    /* flex:1; */
    height: 100%;
    display: flex;
}

.mainClass{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* flex:4 */
}
.children{
    flex:1;
    height:100%
}
@media (max-width: 800px) {
    .fullBody{
        flex-direction: column;
    }

}