.fullSideBar{

    width: 100%;
    height: 100%;
    background-color: #113b40;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
    
}


.logoWrapper{
    margin: 2em;
    display: flex;
    /* flex:1 */
    
}

.logo{
    /* flex:1; */
    width: 100%;
    min-width: 8em;
    
}

.loginButton{
    width: 80%;
    height: 4em;
    background-color: transparent;
    border:2px solid white;
    color: white;
    border-radius: 10rem;
    cursor: pointer;
}

.loginButton:hover{
    background-color:#37808b;
}

.Location-Buttons{
    display: flex;
    flex-direction: column;
    justify-items: start;
    width: 80%;
    gap:0.5em
}

.Location-Buttons button{
    background: none;
    border: none;
    text-align: start;
    display: flex;
    justify-items: center;
    align-items: center;
    gap:1em;
    cursor: pointer;
}


.selectedButton{
    color: #F89F1A;
    border: 1px solid red;
}

.unselectedButton{
    color:white;
}

.unselectedButton :hover{
    color:lightgray;
}

.Footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
