html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif; /* Optional */

}


@media (max-width: 800px){
    html,body{
        overflow: auto;
    }
}

@media (max-height: 750px) {
    html,body{
        overflow: auto;
    }
}