html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: Arial, sans-serif; /* Optional */

}

h1 {
    margin: 1em;
    font-family: Inter;
    font-size: x-large;
  }
@media (max-width: 800px){
    html,body{
        overflow: auto;
    }
}
